/**
 * @name MacOS
 * @version 1.0.6.3
 * @description MacOS Monterey Theme for Discord
 * @author Eric HBorges
 * @website https://github.com/eric151x
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @BDEditor Translucence
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');

:root {
  --app-bg: url('https://i.imgur.com/CwBpkh6.jpeg');
  /*--app-bg: url('https://i.imgur.com/5QUsszI.jpeg'); */
  --app-blur: 6px;
  --app-margin: 12px;
  --app-radius: 12px;
  --accent-hue: 277;
  --accent-saturation: 52%;
  --accent-lightness: 49%;
  --accent-opacity: 1;
  --sidebar-color: rgba(0,0,0,0.4);
  --main-content-color: rgb(0,0,0, 0.2);
  --undefined: 0;
  --interactive-normal: #aaa;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --undefined: 0;
  --background-modifier-hover: rgba(255,255,255,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgba(0,0,0,0.4);
  --message-radius: 16px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 277;
  --reply-saturation: 52%;
  --reply-lightness: 49%;
  --reply-opacity: 1;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 25px;
  --card-color: rgba(0,0,0,0.4);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --popout-radius: 25px;
}

/* Any custom CSS below here */